@font-face {
  font-family: "numbers";
  src: url("../fonts/numbers.ttf") format("truetype");
}
@font-face {
  font-family: "text";
  src: url("../fonts/text.ttf") format("truetype");
}
body {
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #094ee4 0%, #54067e 100%);
}

.ins1 {
  display: none;
  position: absolute;
}
.ins2 {
  display: block;
  position: absolute;
}
